{% extends 'base.html.twig' %}

{% block title %}Modifier un éducateur{% endblock %}

{% block body %}
<h1>Modifier l'éducateur | {{ educateur.id }}. {{ educateur.licencie.nom }} {{ educateur.licencie.prenom }}</h1>
<a href="{{ path('app_educateur') }}" class="btn btn-primary" role="button">Retour à la liste des éducateurs</a>
    {{ form_start(form) }}
    {{ include('educateur/_form.html.twig') }}
    <button class="btn btn-primary">
        Modifier
    </button>
    {{ form_end(form) }}

{% endblock %}