<div class="form-group">
    {{ form_label(form.educateurs) }}
    {{ form_widget(form.educateurs) }}
</div>
<div class="form-group">
    {{ form_label(form.objet) }}
    {{ form_widget(form.objet) }}
</div>
<div class="form-group">
    {{ form_label(form.message) }}
    {{ form_widget(form.message) }}
</div>